{{ if eq .chezmoi.os "linux" -}}

#!/usr/bin/fish


if ! type -q fisher; then
    echo "Fisher not found.."
    echo "Installing Fisher.."
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher

    echo "Installing plugins from .config/fish_plugins"
    fisher update
else
    echo "Fisher is already installed.. running update"
    fisher update
end

{{ end }}

