{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

if ! command -v fish &>/dev/null; then
    echo -e "fish didn't install properly... \n exiting..."
    exit
fi

if ! command -v chsh &>/dev/null; then
    {{ if eq .chezmoi.osRelease.id "fedora" -}}
    sudo dnf install -y util-linux-user
    {{ else }}
    echo "not sure why you don't have chsh...'"
    {{ end }}
else
  echo -e "chsh installed \n Skipping..."
fi
{{ end }}

# Defult Shell Check

if [[ "$SHELL" == "/usr/bin/fish" ]]; then 
    echo "Fish is installed"
else
    echo -e "Default shell is not fish \n Changing shell to fish.."
    chsh -s /usr/bin/fish 
fi

