{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

if ! command -v fish &>/dev/null; then
echo "Fish shell not installed.. will install"

{{ if eq .chezmoi.osRelease.id "debian" -}}

echo "Found Debian.. checking release version"

{{ if eq .chezmoi.osRelease.versionID "10" -}}

echo "Found Debian 10.. adding Third party fish repo"

echo 'deb http://download.opensuse.org/repositories/shells:/fish:/release:/3/Debian_10/ /' | sudo tee /etc/apt/sources.list.d/shells:fish:release:3.list
curl -fsSL https://download.opensuse.org/repositories/shells:fish:release:3/Debian_10/Release.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/shells_fish_release_3.gpg > /dev/null

fi

{{ else if eq .chezmoi.osRelease.versionID "11" -}}

echo "Found Debian 11... adding Third party fish repo"

#Fish Repo setup & Install
echo 'deb http://download.opensuse.org/repositories/shells:/fish:/release:/3/Debian_11/ /' | sudo tee /etc/apt/sources.list.d/shells:fish:release:3.list
curl -fsSL https://download.opensuse.org/repositories/shells:fish:release:3/Debian_11/Release.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/shells_fish_release_3.gpg > /dev/null

fi

{{ else }}

fi

{{ end }}

echo "Installing general Packages.."

sudo apt install -y \
fish \
fzf \
fd-find \
htop \
jq \
pwgen \
net-tools \
direnv \

{{ else if eq .chezmoi.osRelease.id "fedora" -}}

echo "Found Fedora.. installing Fish and General Packages with DNF..."

sudo dnf install -y \
fish \
neovim \
python3-neovim \
task \
fira-code-fonts \
htop \
gopass \
ansible \
openssl \
bat \
gnome-shell-extension-pop-shell \
fd-find \
fzf \
neofetch \
sshfs \
rofi \

fi
{{ end }}
fi
{{ end }}
