{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

if ! command -v chsh &>/dev/null; then
    {{ if eq .chezmoi.osRelease.id "fedora" -}}
    sudo dnf install util-linux-user
fi
{{ else }}
    echo "not sure why you don't have chsh...'"
fi
{{ end }}
[[ "$SHELL" == "/usr/bin/fish" ]] && echo "Fish is installed" || echo "Changing shell to fish.."; chsh -s /usr/bin/fish 
[[ "$nvm_default_version" == "v14.19.2" ]] && echo "NVM default version is set" || echo "Setting defulat nvm version..." && fish -c "set --universal nvm_default_version v14.19.2"
{{ end }}
