#!/bin/bash

echo "Installing general Packages.."

{{- if eq .chezmoi.osRelease.id "ubuntu" "debian "}}

  sudo apt install -y \
  fzf \
  fd-find \
  htop \
  jq \
  pwgen \
  net-tools \
  direnv 
  
{{- end }}

{{- if eq .chezmoi.osRelease.id "fedora"}}

  echo "Found Fedora.. installing Fish and General Packages with DNF..."
  
  sudo dnf update
  sudo dnf install -y \
  fish \
  python3-neovim \
  htop \
  gopass \
  ansible \
  openssl \
  bat \
  fd-find \
  fzf \
  neofetch \
  sshfs \
  rofi \

{{- end }}
