{{ if eq .chezmoi.os "linux" -}}

#!/usr/bin/fish

set chosen_version v14.19.2

# NVM Default Version Env Variable Check

if test "$nvm_default_version" = "$chosen_version"
    echo "NVM default version is set" 
else
    echo "Setting default nvm version..." 
    set --universal nvm_default_version $chosen_version
end

if test (node --version) != "$chosen_version"
    nvm install $chosen_version
end

{{ end }}
