{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

if ! command -v crontab -V &>/dev/null; then
    echo -e "crontab is not installed.. \n exiting"
    exit
fi

[[ ! -f ~/.prompt/get_weather.sh ]] && echo "weather script does not exist" && exit

crontab -l > crontab.bak

(crontab -l 2>/dev/null; echo "0,15,30,45 * * * * ~/.prompt/get_weather.sh")| crontab -

bash ~/.prompt/get_weather.sh

{{ end }}
