#!/bin/bash

{{- if ne .chezmoi.arch "arm64" }}
echo "Checking if nvim is installed.."

if ! command -v nvim &>/dev/null; then

    echo "Nvim is not installed.. attempting to install.."
{{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}

    echo "Found Debian or Ubuntu"

    echo "Downloading and installing Nvim AppImage"
    
    curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim.appimage
    chmod u+x nvim.appimage
    
    mkdir -p $HOME/.local/bin
    mv nvim.appimage $HOME/.local/bin/nvim

else
  
  echo -e "Nvim already installed..\n Skipping..."
    
fi

{{ else if eq .chezmoi.osRelease.id "fedora" -}}

    echo "Found Fedora.. Installing with DNF"
    sudo dnf install -y neovim
else
  echo -e "Nvim already installed..\n Skipping..."
fi

{{ else }}
  echo -e "Not installed but not sure what this OS is \n Skipping..."
else
  echo -e "Nvim already installed..\n Skipping..."
fi
{{ end }}
{{ else }}
echo -e "Nvim is not available on this architecture"
{{- end }}

