@import "styles.d/frappe.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  /* color: @text; */
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px 0px;
  background-color: @surface0;
  color: black;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.5rem;
}

#workspaces button.focused {
  /* color: @sky; */
  /* color: @sapphire; */
  color: white;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-weather,
#custom-music,
#tray,
#network,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#idle_inhibitor {
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  background-color: @surface0;
  margin: 10px ;
}

#idle_inhibitor.activated {
  color: @red;
  background-color: @green; 
}

#clock {
  color: @lavender;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
    color: @flamingo;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @pink;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#pulseaudio.muted {
    color: @red;
}


#custom-music {
  color: @teal;
  border-radius: 1rem;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 1rem;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
