{{- if not $ephemeral -}}
{{-   if eq $hostname "macdebian" -}}
{{-     $docker = true -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "lenovoewan" -}}
{{-     $docker = true -}}
{{-     $personal = true -}}
{{-   else if stdinIsATTY -}}
{{-     if hasKey . "headless" -}}
{{-       $headless = .headless -}}
{{-     else -}}
{{-       $headless = promptBool "headless" -}}
{{-     end -}}
{{-     if hasKey . "ephemeral" -}}
{{-       $ephemeral = .ephemeral -}}
{{-     else -}}
{{-       $ephemeral = promptBool "ephemeral" -}}
{{-     end -}}
{{-     if not $ephemeral -}}
{{-       if hasKey . "docker" -}}
{{-         $docker = .docker -}}
{{-       else -}}
{{-         $docker = promptBool "docker" -}}
{{-       end -}}
{{-       if hasKey . "kubernetes" -}}
{{-         $kubernetes = .kubernetes -}}
{{-       else -}}
{{-         $kubernetes = promptBool "kubernetes" -}}
{{-       end -}}
{{-     end -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

encryption = "gpg"
[gpg]
    recipient = "ewan@gilchrist.scot"

[data.user]
    email = "ewan@gilchrist.scot"

[data.matrix]
   homeserver = "https://matrix.susflatnine.xyz"

