encryption = "gpg"

[edit]
    command = "nvim"

[gpg]
    recipient = "ewan@gilchrist.scot"

[data.user]
    email = "ewan@gilchrist.scot"

[data.matrix]
   homeserver = "https://matrix.susflatnine.xyz"

